# Common
APP_NAME="High Traffic App"
NODE_ENV=development

# API
PORT=3001
API_URL=http://localhost:3001

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/high_traffic_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Client
NEXT_PUBLIC_API_URL=http://localhost:3001
